:root {
  --xsmall: .625rem;
  --small: .813rem;
  --medium: 1rem;
  --large: 1.25rem;
  --xlarge: 1.563rem;
  --2xlarge: 1.875rem;
  --3xlarge: 3.125rem;
  --4xlarge: 4.688rem;
  --5xlarge: 6.25rem;
  --white: #fff;
  --light: #fafafa;
  --darklight: #f0f0f0;
  --darkerlight: #ebebeb;
  --neutral: #e6e6e6;
  --darkneutral: #b8b8b8;
  --darkerneutral: #737373;
  --black: #000;
  --dark: #191919;
  --lightdark: #333;
  --lighterdark: #4c4c4c;
  --whiteop25: rgba(255,255,255,0.25);
  --whiteop5: rgba(255,255,255,0.5);
  --whiteop75: rgba(255,255,255,0.75);
  --neutralop25: rgba(230,230,230,0.25);
  --neutralop5: rgba(230,230,230,0.5);
  --neutralop75: rgba(230,230,230,0.75);
  --blackop25: rgba(0,0,0,0.25);
  --blackop5: rgba(0,0,0,0.5);
  --blackop75: rgba(0,0,0,0.75);
  --trnsp: rgba(255,255,255,0);
  --co1: #bd6d48;
  --lightco1: #DDB5A3;
  --lighterco1: #F1E1DA;
  --darkco1: #975739;
  --co2: #7c3f5f;
  --lightco2: #BD9FAF;
  --lighterco2: #E4D8DF;
  --darkco2: #63324C;
  --co3: #3a1075;
  --lightco3: #9C87BA;
  --lighterco3: #D7CFE3;
  --darkco3: #2E0C5D;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  margin: 0px;
  line-height:var(--xlarge);
  background-attachment: fixed;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?q=80&w=3028&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

h1 {
  letter-spacing:1px;
  font-style:italic;
  color: var(--co3);
}

h1 bb {font-size: var(--large);
  margin-top: 10px;
display: block}

.back {width:50%;
margin: 25px auto;
background-color: var(--whiteop75);
padding: 24px;
border: 1px solid white;
border-radius: 10px;
backdrop-filter: blur(5px);}

.profpic {
  height:250px;
  width:200px;
  border-radius:5px;
  padding:9px;
  object-fit: cover;
  background-color:#f1f1f1;
  border:1px solid #e1e1e1
}

.flexbox {
  display: flex;
}

p {
  text-align:justify;
}

.headerbloc {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

.headerbloc div {text-align:center}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h2 {color: var(--darkco2);
}

h3 {
  font-size: var(--medium);
  color: var(--darkerneutral);
}

box-inset {
  box-shadow: inset 0 -10px 0 #e1e1e1;
}

a i.fa-brands {
margin: 0px 25px
}

.socials {margin:25px;
  font-size:50px;
  display: flex;
  color: var(--co1)}

a {text-decoration:none }

@media (max-width: 1000px) {
  .back {
    width:75%;
  }
  .headerbloc {
    flex-direction: column;
  }
  h3 {
    width:100%
  }
  .profpic {
    height: 150px;
    width: 150px;
    border-radius: 50%
  }
  h1 {
    line-height: var(--3xlarge);
  }
}
